.input {
}

.select {
}

.label {
    font: bold 100% / 150% 'MSゴシック';
    width: 120px;
    text-align: right;
    display: inline-block;
}
/*
 * タイトルとか
 */
.title_input{
	width:100px;
}
.exp_input{
	width:40px;
}
/*
 * ステータス関連
 */
.status {
	position:absolute;
	left:230px;
	display:inline;
}
.status_label {
    width: 70px;
}
.status_input {
	width: 40px;
	ime-mode:disabled;
}