.statusbox div{
	margin:10px 0px 10px 0px;
}
.statusbox{
	width:800px;
	font: 110%/200%;
}
.leftbox{
	float:left;
	position:relative;
	left:100px;
}
.rightbox{
	float:right;
	position:relative;
	right:100px;
}